* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, #app, #app>div {
  height: 100%
}

.link,
.header-link {
    text-decoration: none;
    color: white;
}

.field:focus {
    outline: none;
}

.field {
    border: none;
    border-bottom: 1px solid #283044;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}

circle {
  transition: all 0.2s ease-in-out;
}
line {
  stroke: rgba(218, 208, 208, 0.5);
  stroke-width: 2;
}
text {
  fill: #575B5C;
  text-anchor: middle;
  font-family: 'SF Pro Display';
  font-size: 16px;
}
text.stateful {
  fill: white;
}

text:hover {
  cursor: pointer;
}
circle:hover {
  cursor: pointer;
}

.google-button {
  margin-top: 30px;
  width: 400px;
}

.google-button:hover {
  cursor: pointer;
}

.logo {
  height: 200px;
  margin-bottom: 40px;
}

#rotating {
  -webkit-animation: rotation 5s infinite linear;
}

@-webkit-keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}

.nav-container {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  font-family: 'Raleway', sans-serif;
  color: #731A4B;
  padding: 20px;
  border-radius: 3px;
}

.login-container {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
}

.welcome-box {
  display: grid;
  align-items: center;
  justify-items: center;
}

.login-screen {
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: #f8f9fb;
}  

.header-link {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  margin-left: 15px;
  color: #731A4B;
}

.header-link:hover {
  cursor: pointer;
}

.labs {
  font-size: 30px;
  letter-spacing: 2px;
  margin-right: 10px;
  font-weight: 400;
}